body {
  background-image: url('http://lorempixel.com/102/76/');
  background-size: cover;
  overflow: hidden;
}

.overlay {
  background-color: rgba(24, 35, 100, 0.6);
}

.main-container {
  transition: transform 500ms, opacity 500ms;
}
.main-container.off-screen {
  transform: translateY(-100%);
  opacity: 0;
}

.fullscreen {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  top:0;
  left:0;
}

.proto-preloader {
  transform: scale(2);
  transition: opacity 500ms;
  position: absolute;
}

#del-button:hover {
  color: #000;
}

#del-button {
  color:#ccc;
  font-size:14px;
  line-height:20px;
  cursor: pointer;
  transition: color 300ms;
}

#modal1 {
  max-height: 75% !important;
}

.preloader-wrapper {
  margin: auto;
}

.main-page-container {
  width: 60%;
}

.page-container {
  transition: transform 500ms;
  transform: translateX(100%);
}

.page-container.off-left{
  transform: translateX(-100%);
}

.page-container.main-page {
  position: absolute;
}

body.active-landing .page-container.landing {
  transform: translateX(0);
}

body.active-main .page-container.main-page {
  transform: translateX(0);
}
